body {
  background-color:rgb(231, 229, 209);
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}

#navBar {
  /* background-color:rgb(16, 152, 80); */
  background-color: rgb(109, 88, 103);
  width: 7%;
  min-width:37px;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 215px;
  border-right: white solid 5px;
  box-shadow: 10px 0px 20px white
}


.nav {
  padding-top: 5vh;
  padding-bottom: 5vh;
  
}
.icon {
  font-size: 30px;
  
  color: white
}

#profPic {
  
  border-radius:0px 0px 10px 0px;
  position:fixed;
  transform: rotate(0deg);
  top:0;
  left:0;
  width: 120px;
  z-index:100;
  border-right: 4px white solid;
  border-bottom: 4px white solid;

}

.pageHeading {
  color:white;
  font-size: 20px;
  height: 3%;
  margin-left: 123px;
  /* background-color: rgb(16, 152, 80); */
  background-color: rgb(109, 88, 103);
  padding-top:30px;
  padding-bottom: 30px;
  z-index:1;
  position:fixed;
  top:0;
  width: 93%;
  text-align: left;
  padding-left: 7vw;
  
  
  border-bottom: white solid 5px;
  box-shadow: 10px 10px 10px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Landing page styles */
#landing {
  text-align: left;
  color: rgb(109, 88, 103);
  
}
#name {
  margin-top: 140px;
  margin-left: 17vw;
  font-size: 2.5vw;
}

#role {
  margin-left:25%;
  margin-top:40px;
  font-size:6vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:white;
  width: 45vw;
  
  padding: 5vw;
  border-radius: 100px;
}

#contactIcons {
  margin-left: 35%;
  color:rgb(109, 88, 103)
  
}
.contact {
  font-size: 2.5vw;
  padding-left: 7vw;
}

a {
  color:rgb(109, 88, 103)
}




/* About me styles */

#aboutMe {
  width: 82%;
  /* border: solid red 2px; */
  margin-left: 13%;
  
  z-index:1;
}

.skills {
  width:10%;
  float: left;
  background: white;
  border-radius: 20vw;
  margin-top: 30px;
  margin-left: 7.5%;
  padding: 0.5vw;
  color: rgb(109, 88, 103);
  font-size: 1.5vw;
}

#aboutMeInfo {
  margin-top: 200px;
  
  
  
}

.heading {
  margin-top: 80px;

  
}
.text {
  margin-top:110px;
  font-size:14px;
  min-width: 300px;
  
  /* margin-left: 2vw; */
  
}
.textTravel {
  margin-top:50px;
  font-size: 14px;
  min-width: 300px;
  
  
  
}
.travelPics {
  margin-top: 80px;
  padding-left:40px;
  margin-bottom: 80px;
  
  font-size: 12px; 
  
}
tr {
  display:flex;
  flex-wrap: wrap;
}

.travelImg {
  width: 230px;
  height: 230px;
  object-fit: cover;
  object-position: 75% 25%;
  
  
  
}


.imgRotateRight {
  padding: 30px 10px 10px 10px;
  width:230px;
  box-shadow: 10px 10px 5px #aaaaaa;
  /* float: left; */
  transform: rotate(7deg);
  background-color: white;
  margin:10px;
}
.imgRotateRight:hover {
  transform: scale(1.5);
}
.imgRotateLeft:hover {
  transform: scale(1.5);
}

.imgRotateLeft {
  padding: 30px 10px 10px 10px;
  width: 230px;
  box-shadow: 10px 10px 5px #aaaaaa;
  /* float:left; */
  transform: rotate(-8deg);
  background-color: white;
  margin:10px;
}



.rayaPic {
  float:right;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 75% 25%;
  margin-left: 5vw;
  margin-top: 50px;
  padding: 30px 10px 30px 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: white;
}
.textHobbies {
  
  font-size:14px;
  margin-top: 80px;
  width: 50vw;
  min-width:300px
}


/* //////////////////////////////////////////////// */


/* Experience page styles */


/* Web page display */
.expWeb {
  display: grid;
  text-align:left;
  width:82%;
  position: relative;
  margin-left: 13vw;;
  margin-top:10vw;
  border: red solid 3px;
}
.expMob {
  text-align:left;
  width: 300px;
  margin-left:auto;
  margin-right:auto;
  size:small;
  margin-left: 15vw;
}

/* Divider between the columns  */
/* #expGrid::after {
  content:'';
  grid-column: 2;
  position: absolute;
  top:0;
  bottom: 0;
  width: 15px;
  background-color: black;
} */


.expLeft {
  grid-column: 1;
  padding:20px;
  background-color: white;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 110px;
  margin-bottom:110px;
  text-align:center;
  width: 30vw;
  min-width: 220px;
  height:170px;
  border:white solid 2px;
}

.expLeft:hover {
  background-color: rgb(210, 207, 207);
  border:white solid 2px;
  box-shadow: 0px 0px 10px 10px white;
}


.expRight {
  grid-column: 3;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top:110px;
  margin-bottom: 110px;
  text-align:center;
  width: 30vw;
  min-width: 220px;
  height: 170px;
  border:white solid 2px;
}
.expRight:hover {
  background-color: rgb(210, 207, 207);
  border:white solid 2px;
  box-shadow: 0px 0px 10px 10px white;
}

.infoLeft {
  
  grid-column: 1;
  background-color: rgb(210, 207, 207);
  width:25vw;
  min-width:250px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -75px;
  
  padding: 15px;
  border-radius:30px;
}

/* Arrow */
/* .infoLeft::after {
  grid-column: 1;
  content:"";
    position:absolute;
    height:0;
    width:0;
    left:560px;
    top: 10vw;
    border:20px solid transparent;
    border-left: 20px solid rgb(210, 207, 207);
} */

.infoRight {
  
  grid-column: 3;
  background-color: rgb(210, 207, 207);
  width:25vw;;
  min-width: 250px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -75px;
  
  ;
  padding:15px;
  border-radius:30px;
}

/* Arrow */
/* .infoRight:before {
  grid-column: 3;
  content:"";
    position:absolute;
    height:0;
    width:0;
    left:10px;
    top: 10vw;
    border:20px solid transparent;
    border-right: 20px solid rgb(210, 207, 207);
} */

#exp1 {
  grid-row: 1;
}
#info1 {
  grid-row: 1;
  font-size: 12px;
}
#info1:before {
  grid-row: 1;
}

#exp2 {
  grid-row:2;
}
#info2 {
  grid-row: 2;
  font-size: 12px;
}
#info2:after {
  grid-row: 2;
}

#exp3 {
  grid-row:3;
}
#info3 {
  grid-row: 3;
  font-size: 12px;
}
#info3:before {
  grid-row: 3;
}

#exp4 {
  grid-row:4;
}
#info4 {
  grid-row: 4;
  font-size: 12px;
}
#info4:after {
  grid-row: 4;
}

#exp5 {
  grid-row:5;
}
#info5 {
  grid-row: 5;
  font-size: 12px;
}
#info5:before {
  grid-row: 5;
}

#exp6 {
  grid-row:6;
}
#info6 {
  grid-row: 6;
  font-size: 12px;
}
#info6:after {
  grid-row: 6;
}





.info {
  font-size: 12px;
}

.hidden {
  display: none
}


/* ///////////////////////////////////////////////////// */


/* Styles for projects*/ 

#projectsGrid {
  
  width: 90%;
  margin-left: -70px;
  margin-top: 100px;
  
  /* margin-right:auto;
  margin-left:auto; */
}

/* .projects {
  background-color: white;
  color: rgb(109, 88, 103);
  min-width: 100px;
  height: 50px;
  padding: 20px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border-radius:50px;
  grid-row: 1
} */

.projectPic {
  width: 18vw;
  min-width:150px;
  border: white solid 20px;
  border-radius: 50px;
  margin: 30px;
  
  
}


