
html {
  scroll-behavior: smooth;
}

body {
  
  background-color: black;
  color:rgb(255, 255, 255);
  height:100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}





/* /////////////////Navigation bar////////////// */


#navBar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: black;
  height: 10vh;
  top: 0;
  display:flex;
  justify-content:space-between;
  padding-top:10px;
  font-size: 200%;
  /* background-color: red; */
}


/* --------- */

.logoIcon {
  border-radius:100%;
  /* padding:20px; */
  border: white 2px solid;
  color:white;
  background-color: black;
  height:15vh;
  /* transition: 0.35s; */
  width:15vh;
  margin-left:10px;
}
.logoIcon:hover {
  color:pink;
  border-color: pink;
  box-shadow:0px 0px 20px
}
.logoIcon-active {
  border-radius:200px;
  /* padding:20px; */
  border: white 2px solid;
  color:white;
  background-color: black;
  height:15vh;
  transition: 0.35s;
  width:15vh;
  margin-left:10px;
}
.logoIcon-active:hover {
  color:pink;
  border-color: pink;
  box-shadow:0px 0px 20px
}





.navIcon {
  /* border:white 2px solid; */
  border-radius:200px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  color:white;
  background-color: black;
  height:40px;
  transition: 0.35s;
  
  
}
.navIcon:hover {
  
  color:#ffde59d3;
}




/* --------- */


/* Navigation Icons move down */

.mainButtons {
  display:flex;
  margin-top:-100px;
  padding-right:20px;
  
}
.mainButtons-active {
  display:flex;
  padding-right:20px;
  transition: 0.35s;
  animation-fill-mode: forwards;
  animation-name: buttons-down;
  animation-duration: 1s;
}
.mainButtons-inactive {
  display:flex;
  padding-right:20px;
  transition: 0.35s;
  animation-fill-mode: forwards;
  animation-name: buttons-up;
  animation-duration: 1s;
}
@keyframes buttons-down {
  0%{margin-top:-100px}
  100%{margin-top:0px;}
}
@keyframes buttons-up {
  0%{margin-top:0px}
  100%{margin-top:-100px;}
}



@media screen and (max-width: 900px){
.logoIcon {
  height:10vh;
  width:10vh;
}
.logoIcon-active {
  height:10vh;
  width:10vh;
}
}








/* ////////////// BACKGROUND ////////////////// */



.circle1 {
  height: max(65vw, 420px);
  width: max(65vw, 420px);
  /* background-color: rgb(30, 30, 31); */
  background-color: #e6c2bf;
  border-radius: 50%;
  position:fixed;
  top: 50%;
  left: 55vw;
  z-index:-40;
  background: radial-gradient(circle at 100px 100px, #e6c2bf, #000);
  /* box-shadow: 30px 0px 100px white; */

  /* animation: move1 2s  infinite linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s) */
}
/* @keyframes move1 {
  to {
    
    transform: translate3D(-600px, -300px, 1000px);
    
  }
} */
.circle2 {
  height: 15vw;
  width: 15vw;
  background-color: rgb(184, 180, 180);
  
  border-radius: 50%;
  position:fixed;
  top: 120px;
  left:75vw;
  z-index:-50;
  /* animation: move2 2s  infinite linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s); */
  

}

/* @keyframes move2 {
  to {
    
    transform: translate3D(100px, -20px, 1000px);
    
  }
} */



#profPic {
  /* height: 30vh; */
  width: 17vw;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position:fixed;
  top: 18vh;
  left:75vw;
  z-index:100;
  filter: grayscale(50%);
}
.circle3 {
  height: 7vw;
  width: 7vw;
  background-color: #ffde59d3;
  border-radius: 50%;
  position:fixed;
  top: 12vh;
  left:86vw;
  z-index:60;
  background: radial-gradient(circle at 1px 10px, #ffde59d3, #ffde5928);
  /* animation: move3 1.2s  infinite linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s); */
}

/* @keyframes move3 {
  to {
    transform: translateX(200px);
    
  }
} */

img {
  filter:grayscale(0%)
}












/* /////////////////Landing page styles/////////////// */

#landing {
  text-align: left;
}

.name {
  margin-top: 20vh;
  margin-left: 15vw;
  font-size: max(3vw, 20px);
  font-family: "Bad Script", cursive;
  text-align: left;
  color:#f4ce37;
}



#role {
  margin-left:18vw;
  /* margin-top:30vh */
  font-size: max(9vw, 50px);
  font-family: "League Spartan", serif;
  width: 70vw;
  min-width: 150px;
  padding: 3vw;
  border-radius: 40px;
  text-align:left;
  position:absolute;
  top:20vh;
  color:#f8efe4;
  /* border: red 2px solid; */
  
}


span {
  color:#f4ce37;
  font-family:'Comfortaa', sans-serif;
  margin-right: -0.5vw;
}

.name span {
  font-size: max(4.5vw, 35px);
  margin-right: -1vw;
}

#role span {
  font-size: max(9.1vw, 60px);
  margin-right: -1.8vw;
}


#contactIcons {
  margin-left: 62%;
  position:absolute;
  bottom: 20vh;
  color:black; 
}

.contact {
  font-size: 4vw;
  margin-left: 6vw;
  color:black
}
.contact:hover {
  color:white
}

a {
  color:white
}

@media screen and (max-width: 800px){
  .name {
    margin-top:25vh;
  }
  #role {
    top:25vh;
  }
}
@media screen and (max-width: 450px){
  .name {
    margin-top:30vh;
  }
  #role {
    top:30vh;
  }
  #profPic {
    left:60vw;
    width:30vw;
    top:16vh;
  }
  .circle3 {
    width:12vw;
    height:12vw;
    top: 13vh;
    left:80vw;
  }
  #contactIcons {
    margin-left: 56%;
  }
  .contact {
    font-size: 6vw;
    margin-left: 6vw;
  }
}








/* ///////////// Main ////////////// */

.main {
  /* background:linear-gradient(141deg, black 0%, rgb(25, 34, 10) 51%, rgb(29, 4, 35)); */
}

.sectionHeading {
  margin-top: 70px;
  margin-bottom: 60px;
  margin-left: 15vw;
  font-size: max(3.5vw, 30px);
  font-family:"Caveat", sans-serif;
  text-align: left;
}

#line1 {
  width:60%;
  margin-left:40%;
  padding-top:10px;
  padding-bottom:10px;
}
#line2 {
  width:40%;
  margin-left:60%;
  padding-top:10px;
  padding-bottom:10px;
}







/* //////////////////About me styles ////////////////*/

#aboutMePage {
  /* background-color: blue; */
  width:100%;
}



#skillList {
  display: flex
}
@media screen and (max-width: 900px){
  #skillList {
    display:none
  }
}

.skills {
  width:10%;
  
  background: white;
  border-radius: 20vw;
  margin-left: 7.5%;
  padding: 0.5vw;
  color: black;
  font-size: 15px;
}



#aboutMe {
  width: 85%;
  margin: auto;
  margin-top:100px;
  z-index:1;
}

.heading {
  margin-top: 80px;
  font-size: max(2.7vw, 20px);
  font-family: "Comfortaa", sans-serif;
  margin-bottom:50px;
}


.text {
  
  font-size:16px;
  text-align:left;
  
}

#background {
  width:70%;
  
}
#travel {
  width:70%;
  margin-left:30%;
}
#hobbies {
  width: 70%;
  margin-left:0%;
}

.sideBySide {
  display: flex;
  align-items: center
}
#travelText {
  
  margin: auto;
}
.travelPics {
  padding-top: 30px;
  margin:auto;
  margin-bottom: 80px;
  font-size: max(1vw, 9 px); 
  color: black;
  text-align:left;
}


#picsTable {
  margin: auto;
  
}


tr {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.travelImg {
  width: min(20vw,230px);
  min-width: 200px;
  height: min(20vw,230px);
  min-height:170px;
  object-fit: cover;
  object-position: 75% 25%;
  border-radius:10px;
  
  
  
}


.imgRotateRight {
  padding: 2vw 1vw 1vw 1vw;
  padding:10px;
  border-radius:20px;
  width: min(20vw,230px);
  min-width: 200px;
  box-shadow: 10px 10px 5px #aaaaaa;
  transform: rotate(8deg);
  background-color: white;
  margin:10px;
  transition-duration: 0.5s;
  text-align:center;
}
.imgRotateRight:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  
}
.imgRotateLeft:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  z-index:100
}

.imgRotateLeft {
  /* padding: 2vw 1vw 1vw 1vw; */
  padding:10px;
  border-radius:20px;
  width: min(20vw,230px);
  min-width: 200px;
  box-shadow: 10px 10px 5px #aaaaaa;
  transform: rotate(-8deg);
  background-color: white;
  margin:10px;
  transition-duration: 0.5s;
  text-align:center;
}




.rayaPic {
  
  width: 30%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 20%;
  background-color: white;
}
#textHobbies {
  width:50%;
}

@media screen and (max-width: 900px){
  #background {
    width:100%;
    margin-left:0%;
  }
  #travel {
    width:100%;
    margin-left:0%;
  }
  #hobbies {
    width: 100%;
    margin-left:0%;
  }

  .travelPics {
    padding-top:10px;
    
    font-size: 7px;
  }
  
  .imgRotateLeft {
    transform: rotate(0deg);
    margin-top:-40px;
    margin-bottom:-40px;
  }
  .imgRotateRight {
    transform: rotate(0deg);
  
  }
  .imgRotateRight > p {
    display: none
  }
  .imgRotateLeft > p {
    display: none
  }

  .sideBySide {
    display:inline;
  }
  .rayaPic {
    height: 200px;
    width: 200px;;
    background-color:none;
    border-radius: 10%;
    
  }
  #textHobbies {
    width:100%;
  }
}

@media screen and (max-width: 560px){
  .imgRotateLeft {
    transform: rotate(0deg);
    margin-top:-40px;
    margin-bottom:-40px;
    margin-left:50px
  }
  .imgRotateRight {
    transform: rotate(0deg);
    margin-left: -50px;
  }
}

/* //////////////////////////////////////////////// */


/* Experience page styles */

#experience {
  width:100%;
  /* background-color:red; */
  
}

#expSection {
  display: flex;
  width:90%;
  margin: auto
}

#expHeading {
  margin-bottom:100px;
}

#expGrid {
  width: 40vw;
  margin: auto;
  overflow: scroll;
  
  height:400px;
  padding:10px;
  border-left: solid white 3px;
  border-right: solid white 3px;
  /* border: solid white 3px; */
  /* background-color: rgb(74, 73, 73); */
  /* border-radius: 2% */
}
#expGrid::-webkit-scrollbar {
  
  
}

#expInfo {
  width: 45%;
  margin: auto
}

/* Web page display */
.expWeb {
  display: grid;
  text-align:left;
  width:80%;
  position: relative;
  margin-left: 13vw;;
  margin-top:10vw;
  color: black;

}

/* Mobile page display */
.expMob {
  display: grid;
  text-align:left;
  color: black;
}




.expLeft {
  grid-row: 2;
  padding:10px;
  background-color: white;
  border-radius: 100%;
  text-align:center;
  width: 150px;
  height:150px;
  margin:auto;
  border:white solid 2px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s
}
.expRight {
  grid-row: 1;
  padding: 10px;
  background-color: white;
  border-radius: 100%;
  text-align:center;
  width: 150px;
  height:150px;
  font-size: 11px;
  margin:auto;
  border:white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}



.expLeft:hover {
  background-color: rgb(241, 192, 200);
  border:rgb(241, 192, 200) solid 2px;
  box-shadow: 0px 0px 10px 10px rgb(241, 192, 200);
  
}
.expRight:hover {
  background-color: rgb(241, 192, 200);
  border:rgb(241, 192, 200) solid 2px;
  box-shadow: 0px 0px 10px 10px rgb(241, 192, 200);
}

.info {
  background-color: white;
  width:90%;
  color: black;
  border-radius:30px;
  font-size: 11px;
  padding: 20px;
  text-align: left;
  opacity:100%;
  transition: 0.5s
}

@media screen and (max-width: 600px) {
  #expSection {
    display: inline;
  }
  #expHeading {
    margin-bottom:50px;
  }
  #expGrid {
    width:90%;
    height:135px;
  }
  #expInfo {
    margin-top:20px;
    width:80%;
    
  }
  .expLeft {
    font-size: 9px;
    width:90px;
    height:90px;
    grid-row: 1;
    margin-right:10px
  }
  .expRight {
    font-size: 9px;
    width:90px;
    height:90px;
    grid-row: 1;
    margin-right:10px
  }
  .info {
    font-size: 8px;
    padding:10px
  }
}





.infoLeft {
  grid-row: 1;
  background-color: white;
  width:25vw;
  min-width:250px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius:30px;
  font-size: 11px
}
.infoRight {
  grid-row: 3;
  background-color: white;
  width:25vw;;
  min-width: 250px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding:20px;
  border-radius:30px;
  font-size: 11px
}



.expMob .expLeft {
  margin-top:10px;
  
  
}
.expMob .expRight {
  margin-top:10px;
  
}


#exp1 {
  grid-column: 1;
}


#exp2 {
  grid-column:2;
}


#exp3 {
  grid-column:3;
}


#exp4 {
  grid-column:4;
}


#exp5 {
  grid-column:5;
}


#exp6 {
  grid-column:6;
}


#exp7 {
  grid-column:7;
}








.hidden {
  display: none
}


/* ///////////////////////////////////////////////////// */


/* Styles for projects*/ 


#projects {
  /* background-color:green; */
  width:100%;
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
  width:75%;
  
  margin: auto;
  margin-top:100px;
  
  
  
}

.card {
  width:400px;
  border-radius:20px;
  border:white 2px solid;
  height:250px;
  margin:auto;
  position:relative;
 

}

.back {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 2;
    opacity: 0%;
    background:linear-gradient(rgb(10, 10, 10),rgb(118, 111, 111));
    border-radius:20px;
    transition-duration: 0.5s;
    color:white;
  }
  .front {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    color:white;
    
    background:linear-gradient(rgb(10, 10, 10),rgb(118, 111, 111));
    border-radius:20px;
    
    
  }

.projectsImg {
  width:100%;
  
  border-radius:19px;
  height:100%;
  object-fit:cover;
  object-position: 50% 50%;
  
  
  
}

  
  .card:hover > .back{
    opacity: 95%;
    
    transition-duration: 0.5s;
  }
  .back > a {
    text-decoration: none;
    color:white
  }


@media screen and (max-width: 900px) {

  
  .projectsContainer {
    display:inline;
    width: 70%;
    margin: auto;
    margin-top:200px;
    
  }

  .card {
    width:350px;
    margin-top:50px;
    margin-bottom: 30px;
    height:200px;
  }
  
  
  .projectsImg {
    height:100%;
    border:white 2px solid;
    border-radius:20px;
    width:99%
    
  }
}
@media screen and (max-width: 450px) {

  
  .projectsContainer {
    display:inline;
    width: 70%;
    margin: auto;
    margin-top:200px;
    
  }

  .card {
    width:250px;
    margin-top:50px;
    margin-bottom: 30px;
    height:150px;
  }
  
  
  .projectsImg {
    height:100%;
    border:white 2px solid;
    border-radius:20px;
    width:99%
    
  }
  .back {
    font-size: small;
  }
}





#breakLine {
  width:90%;
  margin:auto;
}